@font-face {
  font-family: "DankMono";
  src: url("../../static/fonts/mono/DankMono-Regular.woff") format("woff"),
    url("../../static/fonts/mono/DankMono-Regular.woff2") format("woff2");
} 

@font-face {
  font-family: "Sarabun";
  src: url("../../static/fonts/th/Sarabun-Regular.woff") format("woff"),
    url("../../static/fonts/th/Sarabun-Regular.woff") format("woff");
}

@font-face {
  font-family: "OperatorMonoBook";
  src: url("../../static/fonts/mono/OperatorMono-Book.woff") format("woff"),
    url("../../static/fonts/mono/OperatorMono-Book.woff2") format("woff2");
}

::-webkit-scrollbar {
  width: 0.85em;
  height: 0.75em;
}

::-webkit-scrollbar-track:hover{
  background-color: rgba(255, 255, 255, 0.05);
}

::-webkit-scrollbar-thumb {
  background-color: #bbbbbb;
}

::-webkit-scrollbar-thumb {
  background-color: #bbbbbb;
  border-radius: 20px;
  border: 0.2em solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #bbbfca;
}

span.katex-display{
  padding: 1em;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  overflow-x: auto;
}